<section class="container">
  <div class="columns">
    <div class="column">
      <app-side-products></app-side-products>
    </div>
    <div class="column is-half">
        <p class="subtitle">Our products</p>
      <div class="product-container">          
        <div class="columns is-multiline">
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image33.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>ELECTRIC MOSQUITO TRAPS</h3>
                    <div class="additional">
                      <p>Simple to use.
                        Plug in and turn on.
                        No chemicals.
                        Safe for use in living areas
                        and bedrooms.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image35.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>DUDU-KRIN ORIGINAL PET SHAMPOO</h3>
                    <div class="additional">
                      <p>Kenya's favourite insecticidal pet shampoo.
                        Contains natural Kenyan pyrethrum for the effective control of ticks, fleas and lice.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image37.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>DUDU-KRIN GENTLE PET SHAMPOO</h3>
                    <div class="additional">
                      <p>Designed to be gentle on your pet whilst controlling ticks, fleas and lice.
                        Contains natural Kenyan pyrethrum. Added Aloe Vera for a healthy, shiny coat.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image39.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>DUDU-KRIN SUPER PET SHAMPOO</h3>
                    <div class="additional">
                      <p>A longer lasting insecticidal pet shampoo, providing protection for your pets for up to one
                        week.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image41.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>ANTI BACTERIAL DOG SHAMPOO</h3>
                    <div class="additional">
                      <p>Contains tea tree and lavender oils. Cleans your dog, leaving it smelling fresh and clean!</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image43.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>ITALIAN TRIGGER SPRAYERS</h3>
                    <div class="additional">
                      <p>Very high quality Italian triggers with empty bottles.
                        Will last for years and years.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image46.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>FLOWER VALUE RANGE OF SPRAYERS</h3>
                    <div class="additional">
                      <p>A range of good quality affordable trigger bottles and knapsacks.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image17.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>Tabard</h3>
                    <div class="additional">
                      <p>Tabard is recommended by the World Health Organisation (W.H.O.)
                        for use by people in malarial areas..</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/download.jpeg" alt="Placeholder image">
                  <figcaption>
                    <h3>LIQUID MOSQUITO REPELLENT</h3>
                    <div class="additional">
                      <p>Designed for use in living areas and bedrooms,
                        the liquid bottle screws into an electric heater unit and
                        plugs in to a standard socket.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image22.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>MOSSI CHIPS</h3>
                    <div class="additional">
                      <p>Mossi Chips are excellent Mosquito Mats designed to be used in living areas and bedrooms to
                        kill all mosquitoes. </p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image23.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3> DUDU SPRAY</h3>
                    <div class="additional">
                      <p>With a pleasing, gentle fragrance this natural pyrethrum product is an excellent insecticide
                        that
                        is safe to use around the house.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/images.jpeg" alt="Placeholder image">
                  <figcaption>
                    <h3>PALI 50 WP</h3>
                    <div class="additional">
                      <p>A wonderful insecticide that gives you protection in your home from mosquitoes,
                        bed bugs, cockroaches and a wide range of other insects.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image49.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>MOSQUITO COILS</h3>
                    <div class="additional">
                      <p>Flower Coils are the deluxe coil and use a generous dose of
                        insecticide to ensure a mosquito free environment.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="../../../assets/products/image30.jpg" alt="Placeholder image">
                  <figcaption>
                    <h3>MOSQUITO STICKS</h3>
                    <div class="additional">
                      <p>Mosquito Sticks are ideal for use in the home, as the active insecticide is natural pyrethrum.</p>
                    </div>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
        <p class="subtitle">Downloads</p>
      <app-side-downloads></app-side-downloads>
    </div>
  </div>
</section>
