<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-3 title">Get in touch with us.</h1>
      <div class="columns">
        <div class="column is-5">
          <ul class="contact-info">
            <li>P. O Box 252-20100,</li>
            <li> Nakuru, Kenya</li>
            <li>Fax: +254512215850</li>
            <li>Kufanya Road, Nakuru Kenya</li>
          </ul>
        </div>
        <div class="column is-5">
          <ul class="contact-info">
            <li>Mobile: <a href="tel://254726114140">+254726114140 </a> or <a href="tel://254733640065">+254733640065 </a>
            <li>Tel: <a href="tel://254512217134">+254512217134 </a> or <a href="tel://254512217228">+254512217228 </a>
            </li>
            <li>Mail: <a href="mailto:info@kapiltd.co.ke">info@kapiltd.co.ke</a> or <a href="mailto:office@kapiltd.co.ke">office@kapiltd.co.ke</a>
            </li>
            <li>Web: <a href="http://flowerbrand.co.ke">flowerbrand.co.ke</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    &copy;{{year}} KAPI Limited. <a href="http://ptskenya.co.ke">Design by ptskenya</a>
  </div>
</footer>
