<section class="container">
  <div class="columns">
    <div class="column">
      <app-side-products></app-side-products>
    </div>
    <div class="column is-half">
      <article class="tile is-child is-light is-bold">
        <p class="subtitle">KAPI Limited Careers</p>
        <div class="content notification is-radiusless">
          <p>Thank you for visiting this page. There are no Vacancies at the moment
          </p>
        </div>
      </article>
    </div>
    <div class="column">
        <p class="subtitle">Downloads</p>
      <app-side-downloads></app-side-downloads>
    </div>
  </div>
</section>

<!-- <section class="container padded">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
        <div class="column is-half">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris. <a>@bulmaio</a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div> 
</section> -->
