<section class="container">
  <div class="columns">
    <div class="column">
      <app-side-products></app-side-products>
    </div>
    <div class="column is-half">
      <article class="tile is-child is-light is-bold">
        <p class="title">Exports</p>
        <div class="content notification is-radiusless">
          <p>Kapi Limited is a Manufacturer and formulator of mosquito repellant products and insceticides. We
            formulate with pyrethrum and also formulate with synthetic pyrethroids. Kapi limited has been
            manufacturing and formulating since 1964 and we have been in contract manufacturing and exporting since
            the early 1970's.</p>
          <p>We are proud to work with some of the top worldwide household names</p>
        </div>
      </article>
    </div>
    <div class="column">
        <p class="subtitle">Downloads</p>
      <app-side-downloads></app-side-downloads>
    </div>
  </div>
</section>

<section class="hero is-medium is-dark sub-landing info">
  <div class="hero-body">
    <div class="container">
      <p class="title">CONTRACT MANUFACTURE</p>
      <div class="columns">
        <div class="column">
          <div class="content">
            <p>We are a top class formulator of pyrethrum based products , and we contract manufacture for a number of
              overseas customers. Whilst we can contract manufacture a very wide range of products and formulations,
              the most popular are detailed here: </p>
            <p class="subtitle">1. Pyrethrum based Mosquito Coils</p>
            <p>We contract manufacture 11 inch pyrethrum based mosquito coils with a minimum burning time of 7 hours
              using only natural ingredients (<em>except dye and perfume, which is to client specification</em>). Our
              Mosquito coils are unique, using high propotion of pyrethrum marc together with natural pyrethrum. We
              also use softwood powder and coffee husk and bind with tabu powder and corn starch. The final product is
              a premier coil using natural pyrethrum as the insceticidal active. Our coils are quality tested for
              burning and strength. Each batch has a certificate of analysis showing the pyrethrum content, burning
              time and weight</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <p>The most popular coil for contract manufacture and export is with <strong>0.3%</strong> pyrethrum, and
              we can provide studies showing Knock Down rates at this level. We also manufacture coils at <strong>0.6%</strong>
              for super efficiency</p>
            <p>We manufacture the coil to client specification, including finished colour, fragrance(if any), number of
              stands per box, printing and packaging.</p>
            <p>As the world continues to move towards natural product solutions, the demand for products using natural
              pyrethrum will continues to grow. Natural pyrethrum products are sold at a premium in Europe and North
              America. As the premium manufacturer of pyrethrum based coils in the world, we contract manufacture for
              household names such as: <strong>Johnson OFF!, DOOM,</strong> and <strong>US 622</strong></p>
          </div>
        </div>
        <div class="column">
          <div class="content">
            <p class="subtitle">2. Mosquito Coils with Pyrethroids</p>
            <p>We also contract manufacture mosquito coils using synthetic pyrethroids as the active. As standard, we use d-alletherin as the active.</p>
            <p>Currently, we contract manufacture d-alletherin at <strong>0.1%, 0.15% and 0.2%</strong>. We are able to manufacture the coils to your colour and perfume specifications as well as your active specification.</p>
            <p>All our coils are 11cm diameter with burning time of between 7 and 8 hours.</p>
            <p><strong>Pyrethrum Based Mosquito Sticks</strong> continue to grow in popularity in Europe. Our standard stick is 11 inches with a burning time of 1 to 1.5 hours depending thickness.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
