<section class="container">
  <div class="columns">
    <div class="column">
      <app-side-products></app-side-products>
    </div>
    <div class="column is-half">
      <article class="tile is-child is-light is-bold">
        <p class="subtitle">Welcome to KAPI Limited</p>
        <div class="content notification is-radiusless">
          Kapi Limited have been manufacturing insecticidal products since 1964, and we are well
          known for the quality of our products. You can always buy our products with
          confidence.We are the largest manufacturer of Mosquito Coils in Sub Saharan Africa, and
          we supply our coils to Europe, South Africa, Zimbabwe and Tanzania. We are the dominant
          supplier of coils to the Kenyan market with our Flower and Combat brands"
        </div>
      </article>
    </div>
    <div class="column">
        <p class="subtitle">Downloads</p>
      <app-side-downloads></app-side-downloads>
    </div>
  </div>
</section>

<section class="container padded has-text-center">
  <div class='embed-container'>
      <iframe src="https://www.youtube.com/embed/mksSsYoSvX4?rel=0&modestbranding=1&loop=1" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="hero is-medium is-dark sub-landing info">
  <div class="hero-body">
    <div class="container">
      <div class="tile is-ancestor ">
        <div class="tile is-vertical">
          <div class="tile ">
            <div class="tile is-parent">
              <article class="tile is-child">
                <p class="title">About Us</p>
                <div class="content">
                  <p>KAPI Limited manufactures and distributes insecticides for use in the home, for personnal use,
                    for
                    agricultural application, and for public use. We are the largest formulator of natural pyrethrum
                    products in East Africa, and we produce more mosquito coils than any other company in Sub-Saharan
                    Africa. Our products are very well known in Kenya, and East Africa and they include the Flower
                    Range of mosquito control products as well as the Dudu-Krin range of insecticidal pet shampoos.
                    Our
                    flower and Combat Mosquito coils arr the coils of choice in Kenya. Our broad range of home use
                    products and pet shampoos are sold in all key chain supermarkets and all quality independent
                    supermarkets in Kenya. Our products are sold in Kenya, Tanzania, Uganda and Rwanda. We also
                    export
                    to Nortern Europe, Southern Europe and Central America.</p>
                  <p>We were founded in 1964</p>
                  <p>We are based in Nakuru in the Beautiful Rift Valley. Our factory employs upto 150 Kenyans and we
                    delight in manufacuting high quality insecticides for the Kenyan and East African Market as well
                    as
                    for global customers.</p>
                </div>
              </article>
            </div>
            <div class="tile is-hidden-mobile is-parent is-vertical is-4">
              <article class="tile is-child notification is-clear is-radiusless">
                <img src="../../../assets/plant.png" class="is-clear" alt="logo">
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
