<section class="container">
  <div class="columns">
    <div class="column">
      <app-side-products></app-side-products>
    </div>
    <div class="column is-half">
      <p class="title has-text-centered has-text-weight-light is-size-4">
        We currently have excellent distributors for all areas of Kenya. See <a class="button is-dark is-inverted"
          routerLink="/buy">
          <span>Where to buy our products</span></a>
      </p>

      <div class="columns has-text-centered is-multiline is-centered">
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                Tanzania
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                Uganda
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                South Sudan
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                North Sudan
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                Rwanda
              </p>
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="card">
            <div class="card-content">
              <p class="">
                Burundi
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
        <p class="subtitle">Downloads</p>
      <app-side-downloads></app-side-downloads>
    </div>
  </div>
  <div class="has-text-centered padded">
    <p class="subtitle">If you are a high quality distributor interested in our fine range of products, please contact:</p>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by4">
              <img src="../../../assets/salesman.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="subtitle">GEORGE CHORE</p>
              <p>Regional Sales Manager</p>
              <p>george.chore@kapiltd.co.ke</p>
              <p>+254720970563</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
